/* TEXT STYLES */

h1 {
  font-family: 'Schoolbell', cursive;
}

h4, h6 {
  font-weight: normal;
}

p {
  font-family: 'Syne Mono', monospace;
}

#credit {
  font-weight: bold;
  margin-top: 10px;
}

#source {
  font-weight: normal;
  font-style: italic;
}